# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API KEY сервиса конвертации валют можно получить по этой ссылке:
# https://apilayer.com/marketplace/exchangerates_data-api

API_KEY=your_api_key_here
