# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API KEY сервиса курса акций можно получить по этой ссылке:
# https://www.alphavantage.co/

API_KEY=your_api_key_here
